.glide__slide--active {
    //   background-color:red; 
}

.glide__arrows {


    .glide__arrow {
        background-color: #333;
        border: none !important;
        opacity: .7;
        transition: opacity .2s ease-out;
        -moz-transition: opacity .2s ease-out;
        -webkit-transition: opacity .2s ease-out;
        -o-transition: opacity .2s ease-out;

        &:before{
            font-size: 50px;
            font-weight: bold;
        }

        &:hover{
           opacity: 1;
            background-color: #333 !important;
          
        }
    }

    .glide__arrow--right {
        &:before {
            content: '\203A';
        }
        right: 1.2em;
    }

    .glide__arrow--left{
        &:before{
            content:'\2039';
        }
        left: 1.2em;
    }
}

li.glide__slide {
    // width: 250px !important;

    list-style: none !important;
    transition: transform .3s;
    /* Animation */

    img {
        max-width: 200px;
        height: 150px;
        width: 100%;
        padding: 10px 0;
    }

    &:hover {
        // opacity: 0.5;
        transform: scale(1.3);
        /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

    }
}


.carousel {
    --height: 133px;
    display: block;
    margin: 8px auto 0;
    height: var(--height);
    text-align: center;

    * {
        display: inline-block;
        position: relative;
        vertical-align: top;
        height: 100%;
    }

    .arrow-container {
        --width-arrow: 64px;
        width: var(--width-arrow);
    }

    .arrow {
        --arrow-width: calc(var(--width-arrow) / 2);
        position: absolute;
        top: 50%;
        left: 50%;
        width: var(--arrow-width);
        height: var(--arrow-width);
        background-color: white;
        font-weight: bold;
        line-height: var(--arrow-width);
        border-radius: 50%;
        transform: translate(-50%) translateY(-50%);
        transition: background-color 111ms, color 222ms;
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
            color: white;
        }

        &:active {
            transform: scale(0.9) translate(-50%) translateY(-50%);
        }

        &.left {
            display: none;
        }


    }

    .display-container {
        /* * 4 to show 4 slides */
        width: calc(var(width) * 4 - 2px);
        overflow-x: hidden;
    }

    .slide-container {
        /* * 8 cause that's the number of slides */
        width: calc(var(width) * 8);
        /* start by going left 2 slides */
        /* transform: translate(calc(var(--width) * -2)); */
        transition: transform 333ms;
    }

    .slide {
        margin-left: -4px;
        width: var(width);
    }


}
