// --------------------------------------------------------------
// Controls
// --------------------------------------------------------------

.plyr {

    // .plyr__playlist{
    //     .active{
    //         .plyr__count
    //     }
    // }

    // Hide native controls
    &.plyr--full-ui ::-webkit-media-controls {
        display: none;
    }

    // Playback controls
    .plyr__controls {
        align-items: center;
        display: flex;
        text-align: center;

        // Shadow
        &:after {
            content: '';
            position: absolute;
            bottom: -1px;
            width: 100%;
            height: $plyr-control-spacing * 4.5;
            opacity: 1;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 0));
            transition: opacity 1s linear;
        }

        // Spacing
        > .plyr__control,
        .plyr__progress,
        .plyr__time,
        .plyr__menu {
            // margin-left: ($plyr-control-spacing / 2);

            &:first-child,
            &:first-child + [data-plyr='pause'] {
                margin-left: 0;
            }
        }

        .plyr__volume {
            margin-left: -15px;
            margin-right: auto;
            padding-left: 20px;
        }

        .plyr__time {
            min-width: 40px;
            overflow: hidden;
        }

        .plyr--playlist-button {
            span {
                position: absolute;
                top: 8px;
                right: 35px;
                line-height: 100%;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 16px;
                @media (max-width: $plyr-bp-sm) {
                    display: none;
                }
            }
            .plyr__playlist-button-title {
                display: none;
            }
        }
        .plyr__title-content {
            position: absolute;
            top: 2px;
            left: 0vw;
            text-align: left;
            width: 50vw;
            line-height: 100%;
            font-weight: 600;
            font-size: 20px;
            font-family: 'nunitobold', sans-serif;
            transform: translateX(0px);
            letter-spacing: 0px;
            .back-button { 
                top: 12px;
                left: 14px;
                border: none;
                position: absolute;
            } 
        }
        
        .plyr__title {
            position: absolute;
            top: 18px;
            left: 53px;
            line-height: 100%;
            font-weight: 600;
            font-size: 20px;
            font-family: 'nunitobold', sans-serif;
            transform: translateX(0px);
            letter-spacing: 0px;
            @media (max-width: $plyr-bp-sm) {
                display: none;
            }
        }
       .ply__relatedVideos{
            position: absolute;
            bottom: 50px;
            left: 100px;
            line-height: 100%;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 20px;
            transform: translateX(-50%);
        }

        //@media (min-width: $plyr-bp-sm) {
        //    > .plyr__control,
        //    .plyr__progress,
        //    .plyr__time,
        //    .plyr__menu {
        //        margin-left: $plyr-control-spacing;
        //    }
        //
        //    > .plyr__control + .plyr__control,
        //    .plyr__menu + .plyr__control,
        //    > .plyr__control + .plyr__menu {
        //        margin-left: ($plyr-control-spacing / 2);
        //    }
        //}
    }

    // Video controls
    &.plyr--video .plyr__controls {
        // background: linear-gradient(rgba($plyr-video-controls-bg, 0), rgba($plyr-video-controls-bg, 0.7));
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
        // bottom: 0;
        color: $plyr-video-control-color;
        // left: 0;
        // padding: ($plyr-control-spacing * 3.5) $plyr-control-spacing $plyr-control-spacing;
        // position: absolute;
        // right: 0;
        // transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
        // z-index: 3;

        .plyr__controls-left,
        .plyr__controls-right {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            z-index: 4; // Above playlist and non linear ad, but below video advertisement.
            bottom: 0;
            left: 0;
            padding: 0;
        }

        .plyr__controls-left {
            left: 30px !important;
            bottom: 10px !important;
        }

        .plyr__controls-right {
            left: inherit;
            right: 30px;
            height: 36px;
            bottom: 10px;
            margin: 2px;
            cursor: pointer;
            width: -moz-max-content;
            width: -webkit-max-content;
            width: -o-max-content;
            span.plyr__logo{
                position: relative;
                width: 30px;
                padding: 0;
                margin: 0;
                height: 28px;
                & svg{height: 30px;}
            }
        }

        .plyr__control {
            svg {
                top: 0;
                left: 0;
                filter: drop-shadow(0 1px 1px rgba(#000, 0.15));
            }

            // Hover and tab focus
            &.plyr__tab-focus,
            &:hover,
            &[aria-expanded='true'] {
                // background: $plyr-video-control-bg-hover;
                color: $plyr-video-control-color-hover;
            }
        }
    }

.plyr__cues--progress {
    //border-radius: 50%;
    position: absolute;
    width: 2px;
    height: $plyr-range-track-height;
    background:$plyr-video-control-cue-color;
    top: 0;
    z-index: 1;
    // pointer-events: none;
}
    // Audio controls
    &.plyr--audio .plyr__controls {
        background: $plyr-audio-controls-bg;
        border-radius: inherit;
        color: $plyr-audio-control-color;
        padding: $plyr-control-spacing;
    }

    &.plyr--video.plyr--hide-controls .plyr__controls .plyr__morevideos {
        visibility: visible;
        &:after {
            visibility: visible;
            transition: opacity 1s linear;
            transition-delay: 1s;
        }
    }

    // Hide controls
    &.plyr--video.plyr--hide-controls .plyr__controls {
        visibility: hidden;
        pointer-events: none;
        &:after {
            visibility: hidden;
            transition: opacity 1s linear;
            transition-delay: 1s;
        }
    }

    // Some options are hidden by default
    [data-plyr='captions'],
    [data-plyr='pip'],
    [data-plyr='airplay'],
    [data-plyr='fullscreen'] {
        display: none;
    }
    .plyr.plyr--captions-enabled [data-plyr=captions], .plyr [data-plyr=captions], [data-plyr='captions'] {
        display:none !important;
    }
    &.plyr--captions-enabled [data-plyr='captions'],
    &.plyr--pip-supported [data-plyr='pip'],
    &.plyr--airplay-supported [data-plyr='airplay'],
    &.plyr--fullscreen-enabled {
        display: inline-block;
    }
}
