// --------------------------------------------------------------
// Control buttons
// --------------------------------------------------------------

.plyr__control {
    background: transparent;
    border: 0;
    border-radius: $plyr-control-radius;
    color: inherit;
    cursor: pointer;
    flex-shrink: 0;
    overflow: visible; // IE11
    padding: $plyr-control-padding;
    position: relative;
    transition: all 0.15s cubic-bezier(0.4, 0.0, 1, 1);

    svg {
        display: block;
        fill: currentColor;
        pointer-events: none;
        height: $plyr-control-icon-size;
        width: $plyr-control-icon-size;
    }

    // Default focus
    &:focus {
        outline: 0;
    }

    // Tab focus
    &.plyr__tab-focus {
        @include plyr-tab-focus();
    }
}

// Change icons on state change
.plyr__control[aria-pressed='false'] .icon--pressed,
.plyr__control[aria-pressed='true'] .icon--not-pressed,
.plyr__control[aria-pressed='false'] .label--pressed,
.plyr__control[aria-pressed='true'] .label--not-pressed {
    display: none;
}

// Audio styles
.plyr--audio .plyr__control {
    &.plyr__tab-focus,
    &:hover,
    &[aria-expanded='true'] {
        background: $plyr-color-main;
        color: $plyr-color-main;
    }
}

// Large play button (video only)
.plyr__control--overlaid {
    display: none;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    cursor: pointer;
    outline: 0;
    border: 0;

    transform: scale(0.95) translate(-50%, -50%);
    will-change: transform;
    transition: all 0.1s cubic-bezier(0.4, 0.0, 1, 1);
    transform-origin: 0;

    &:hover {
        transform: scale(0.98) translate(-50%, -50%);
    }
    &:active {
        transform: scale(1.0) translate(-50%, -50%);
    }

    // Hexagons
    > div {
        position: relative;
        width: 50px;
        height: 50px;

        @media (min-width: $plyr-bp-sm) {
            width: 100px;
            height: 100px;
        }

        > svg:first-of-type {
            position: absolute;
            z-index: 2;
            top: 4px;
            left: 4px;
            width: 42px;
            height: 42px;
            fill: currentColor;

            @media (min-width: $plyr-bp-sm) {
                top: 8px;
                left: 8px;
                width: 84px;
                height: 84px;
            }
        }

        > svg:last-of-type {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            fill: currentColor;
            filter: brightness(0.9);

            transform: scale(1);
            will-change: transform;
            transition: transform 0.2s ease, opacity 0.3s ease;
            transform-origin: 0;
        }
        > div {
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            svg {
                display: none;
                position: absolute;
                fill: currentColor;
                width: 50px;
                height: 50px;
                will-change: transform;
                transition: transform 0.2s ease, opacity 0.3s ease;
                transform-origin: center;

                @media (min-width: $plyr-bp-sm) {
                    width: 100px;
                    height: 100px;
                }

                &:nth-child(1) {
                    transform: scale(1.4);
                    opacity: 0.4;
                }
                &:nth-child(2) {
                    transform: scale(2.6);
                    opacity: 0.3;
                }
                &:nth-child(3) {
                    transform: scale(3.4);
                    opacity: 0.2;
                }
                &:nth-child(4) {
                    transform: scale(4.2);
                    opacity: 0.1;
                }
            }
        }
    }

    // Play icon
    > svg:last-of-type {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        margin-left: 1px;
        color: white;
        width: $plyr-control-icon-size;
        height: $plyr-control-icon-size;
        transform: translate(-50%, -50%);

        @media (min-width: $plyr-bp-sm) {
            width: $plyr-control-icon-size-large;
            height: $plyr-control-icon-size-large;
        }
    }
}

.plyr--playing .plyr__control--overlaid {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8) translate(-50%, -50%);
}

.plyr--full-ui.plyr--video .plyr__control--overlaid {
    display: block;
}

// Loading state
.plyr--loading .plyr__control--overlaid {
    > div > div > svg {
        display: block;
        animation: plyr-progress-play 1.5s linear infinite;
    }
}