// --------------------------------------------------------------
// Controls
// --------------------------------------------------------------

// Hide native controls
.plyr--full-ui ::-webkit-media-controls {
    display: none;
}

.plyr__controls {
    display: flex;
    flex-direction: column;
}

// Playback controls
.plyr__controls-top,
.plyr__controls-middle,
.plyr__controls-bottom {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    width: 100%;
    padding: ($plyr-control-spacing * 2) $plyr-control-spacing / 2 $plyr-control-spacing;

    .plyr__controls-left,
    .plyr__controls-right,
    .plyr__controls-center {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .plyr__controls-right {
        margin-left: auto;
    }
}

.plyr__controls-top {
    padding: $plyr-control-spacing $plyr-control-spacing / 2 ($plyr-control-spacing * 2);
    margin-bottom: auto;
    background: linear-gradient(rgba($plyr-video-controls-bg, 0.5), rgba($plyr-video-controls-bg, 0));
    .plyr__controls-center {
        flex: 1;
        overflow: hidden;
    }
    .plyr__controls-right {
        min-width: 102px;
        justify-content: flex-end;
    }
}

.plyr__controls-middle {
    height: 100%;
    padding-top: $plyr-control-spacing;
    .plyr__controls-left,
    .plyr__controls-right,
    .plyr__controls-center {
        flex: 1;
    }
    .plyr__controls-center {
        max-width: 50px;

        @media (min-width: $plyr-bp-sm) {
            max-width: 100px;
        }
    }
    .plyr__controls-left,
    .plyr__controls-right {
        button {
            top: 50%;
            position: absolute;
            transform: translateY(-50%);
        }
        svg {
            width: $plyr-control-icon-size-large;
            height: $plyr-control-icon-size-large;

            @media (min-width: $plyr-bp-sm) {
                width: $plyr-control-icon-size-huge;
                height: $plyr-control-icon-size-huge;
            }
        }
    }
}

.plyr__controls-bottom {
    margin-top: auto;
    background: linear-gradient(rgba($plyr-video-controls-bg, 0), rgba($plyr-video-controls-bg, 0.5));
}

// Logo
.plyr__logo {
    color: currentColor;
    padding: $plyr-control-padding $plyr-control-padding 0;
    svg {
        fill: currentColor;
        height: $plyr-control-icon-size;
        width: 45px;
        transition: all 0.15s cubic-bezier(0.4, 0.0, 1, 1);
        @media (min-width: $plyr-bp-sm) {
            height: $plyr-control-icon-size-large;
            width: 90px;
        }
    }
    &:hover {
        svg {
            fill: rgba(255, 255, 255, 1);
        }
    }
}

// Title
.plyr__title {
    display: inline-block;
    padding: 0 $plyr-control-padding;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

// Spacing
> .plyr__control,
.plyr__time,
.plyr__menu {
    margin-left: ($plyr-control-spacing / 2);

    &:first-child,
    &:first-child + [data-plyr='pause'] {
        margin-left: 0;
    }
}

.plyr__volume {
    margin-left: ($plyr-control-spacing / 2);
}

.plyr__progress {
    z-index: 0;
    bottom: $plyr-range-max-height;
}

@media (min-width: $plyr-bp-sm) {
    > .plyr__control,
    .plyr__time,
    .plyr__menu {
        margin-left: $plyr-control-spacing;
    }

    > .plyr__control + .plyr__control,
    .plyr__menu + .plyr__control,
    > .plyr__control + .plyr__menu {
        margin-left: ($plyr-control-spacing / 2);
    }
}

// Video controls
.plyr--video .plyr__controls {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: $plyr-video-control-color;
    transition: opacity 0.2s cubic-bezier(0.4, 0.0, 1, 1);

    .plyr__control {
        // Hover and tab focus
        &.plyr__tab-focus,
        &:hover,
        &[aria-expanded='true'] {
            // background: $plyr-video-control-bg-hover;
            color: $plyr-video-control-color-hover;
        }
    }
}

// Audio controls
.plyr--audio .plyr__controls {
    background: $plyr-audio-controls-bg;
    border-radius: inherit;
    color: $plyr-audio-control-color;
    padding: $plyr-control-spacing;
}

// Hide controls
.plyr--video.plyr--hide-controls .plyr__controls {
    opacity: 0;
    pointer-events: none;
    // transform: translateY(100%);
}

// Some options are hidden by default
.plyr [data-plyr='captions'],
.plyr [data-plyr='pip'],
.plyr [data-plyr='airplay'],
.plyr [data-plyr='fullscreen'] {
    display: none;
}
.plyr--captions-enabled [data-plyr='captions'],
.plyr--pip-supported [data-plyr='pip'],
.plyr--airplay-supported [data-plyr='airplay'],
.plyr--fullscreen-enabled [data-plyr='fullscreen'] {
    display: inline-block;
}
