.plyr {
    .plyr__logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 55px;
        padding: 10px;
        overflow: hidden;
        svg {
            opacity: 0;
            transform: translateY(-200%);
            fill: #fff;
        }

        &.plyr__logo-top{
            top: -4px;
        }
        &.hidden {
            visibility: hidden;
        }
    }

    &.plyr--video:not(.plyr--hide-controls) {
        .plyr__logo {
            svg {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    &.plyr--hide-controls {
        .plyr__logo {
            svg {
                opacity: 0;
            }
        }
    }
}
