// --------------------------------------------------------------
// Playback progress
// --------------------------------------------------------------

.plyr {
    .plyr__progress {
        display: flex;
        flex: 1;
        //position: relative;

        position: absolute;
        bottom: $plyr-control-spacing * 4.5;
        width: 100%;

        // Seek tooltip to show time
        .plyr__tooltip {
            font-size: $plyr-font-size-time;
            left: 0;
        }
    }

    &.plyr--full-ui .plyr__progress {
        input[type='range'] {
            position: absolute;
            bottom: 0;
            z-index: 1;
            height: 40px;
            display: flex;

            &::-webkit-slider-runnable-track {
                flex: 1;
                margin-top: auto;
            }

            &::-moz-range-track,
            &::-moz-range-thumb,
            &::-moz-range-progress {
                flex: 1;
                margin-top: auto;
                transform: translateY(17px);
            }

            &::-ms-track,
            &::-ms-fill-upper,
            &::-ms-fill-lower,
            &::-ms-thumb{
                flex: 1;
                margin-top: auto;
                // transform: translateY(17px);
            }
        }
    }

    .plyr__progress--buffer {
        -webkit-appearance: none; /* stylelint-disable-line */
        background: transparent;
        border: 0;
        border-radius: 0;
        height: $plyr-range-track-height;
        left: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 0;

        &::-webkit-progress-bar {
            background: transparent;
            transition: width 0.2s ease;
        }

        &::-webkit-progress-value {
            background: currentColor;
            border-radius: 0;
            min-width: $plyr-range-track-height;
        }

        // Mozilla
        &::-moz-progress-bar {
            background: currentColor;
            border-radius: 0;
            min-width: $plyr-range-track-height;
            transition: width 0.2s ease;
        }

        // Microsoft
        &::-ms-fill {
            border-radius: 0;
            transition: width 0.2s ease;
        }
    }

    &.plyr--video .plyr__progress--buffer {
        // box-shadow: 0 1px 1px rgba(#000, 0.15);
        color: $plyr-video-progress-buffered-bg;
    }

    &.plyr--audio .plyr__progress--buffer {
        color: $plyr-audio-progress-buffered-bg;
    }

    // Loading state
    &.plyr--loading .plyr__progress--buffer {
        animation: plyr-progress 1s linear infinite;
        background-image: linear-gradient(
                        -45deg,
                        $plyr-progress-loading-bg 25%,
                        transparent 25%,
                        transparent 50%,
                        $plyr-progress-loading-bg 50%,
                        $plyr-progress-loading-bg 75%,
                        transparent 75%,
                        transparent
        );
        background-repeat: repeat-x;
        background-size: $plyr-progress-loading-size $plyr-progress-loading-size;
        color: transparent;
    }

    &.plyr--video.plyr--loading .plyr__progress--buffer {
        background-color: $plyr-video-progress-buffered-bg;
    }

    &.plyr--audio.plyr--loading .plyr__progress--buffer {
        background-color: $plyr-audio-progress-buffered-bg;
    }
}
