// --------------------------------------------------------------
// Video styles
// --------------------------------------------------------------

.plyr--video {
    // overflow: hidden;
    color: $plyr-color-main;
    background-color: #000;

    // Menu open
    &.plyr--menu-open {
        overflow: visible;
    }
}

.plyr__video-wrapper {
    border-radius: inherit;
    overflow: hidden;
    position: relative;
    // Require z-index to force border-radius
    z-index: 0;
}
