// --------------------------------------------------------------
// Volume
// --------------------------------------------------------------

.plyr {
    .plyr__volume {
        flex: 1;
        position: relative;
        width: 100px;
        opacity: 1;
        display:block;
        transition: all 200ms ease;
        overflow: hidden;
        transition:width 0.25s;
        -webkit-transition:width .25s;
        -moz-transition: width 0.25s;
        border-radius: $plyr-range-track-height;
        input[type='range'] {
            border-radius: $plyr-range-track-height;
            position: relative;
            z-index: 2;
            cursor: pointer;
        }
        &.hidden {
            opacity: 0;
            width: 35px;
            margin-right: 0;
        }
    }

    // Hide sound controls on iOS
    // It's not supported to change volume using JavaScript:
    // https://developer.apple.com/library/safari/documentation/AudioVideo/Conceptual/Using_HTML5_Audio_Video/Device-SpecificConsiderations/Device-SpecificConsiderations.html
    &.plyr--is-ios .plyr__volume,
    &.plyr--is-ios [data-plyr='mute'] {
        display: none !important;
    }
}
