// ==========================================================================
// Base layout
// ==========================================================================
// BORDER-BOX ALL THE THINGS! 
// http://paulirish.com/2012/box-sizing-border-box-ftw/
*, *::after, *::before {
    box-sizing: border-box;
}

// Hidden
[hidden] {
    display: none;
}

// Base
html,
body {
    height: 100%;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

body {
    margin: 0;
    font-size: 18px;
    font-family: $plyr-font-family;
    line-height: 1.5;
    text-align: center;
    font-weight: bold;
    background-color: #000;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

// Sections
section {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

// For non supported browsers
video {
    max-width: 100%;
    vertical-align: middle;
}

// ==========================================================================
// Fonts
// ==========================================================================
@font-face {
    font-family: 'Avenir';
    src: url('https://cdn.plyr.io/static/fonts/avenir-medium.woff2') format('woff2'), url('https://cdn.plyr.io/static/fonts/avenir-medium.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir';
    src: url('https://cdn.plyr.io/static/fonts/avenir-bold.woff2') format('woff2'), url('https://cdn.plyr.io/static/fonts/avenir-bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}
