// ==========================================================================
// Controls
// ==========================================================================

$plyr-control-icon-size: 18px !default;
$plyr-control-icon-size-large: 20px !default;
$plyr-control-icon-size-huge: 30px !default;
$plyr-control-spacing: 9px !default;
$plyr-control-padding: ($plyr-control-spacing * 0.7) !default;
$plyr-control-radius: 1px !default;

$plyr-video-controls-bg: #000 !default;
$plyr-video-control-color: rgba(255, 255, 255, 0.8) !default;
$plyr-video-control-cue-color : rgba(221, 0, 102, 1.0) !default;
$plyr-video-control-cue-color-hover: rgba(0, 0, 0, 1.0) !default;
$plyr-video-control-color-hover: rgba(255, 255, 255, 1.0) !default;
$plyr-video-control-bg-hover: $plyr-color-main !default;

$plyr-audio-controls-bg: #fff !default;
$plyr-audio-control-color: $plyr-color-fiord !default;
$plyr-audio-control-color-hover: #fff !default;
$plyr-audio-control-bg-hover: $plyr-color-main !default;

$related-videos-padding-between-videos: 2vw !default;
