// ==========================================================================
// Typography
// ==========================================================================

$plyr-font-family: Khand, Avenir, 'Avenir Next', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif !default;
$plyr-font-size-base: 14px !default;
$plyr-font-size-small: 12px !default;
$plyr-font-size-large: 16px !default;
$plyr-font-size-xlarge: 18px !default;

$plyr-font-size-time: 12px !default;
$plyr-font-size-badge: 9px !default;

$plyr-font-weight-regular: 400 !default;
$plyr-font-weight-bold: 700 !default;

$plyr-line-height: 1.3 !default;
$plyr-letter-spacing: 1px !default;

$plyr-font-smoothing: true !default;
